[Unit]
Description=WSL2 SSH Agent Bridge
After=network.target
ConditionUser=!root

[Service]
ExecStart=/usr/bin/wsl2-ssh-agent --verbose --foreground --socket=%t/wsl2-ssh-agent.sock
Restart=on-failure

[Install]
WantedBy=default.target
